body, html {
    background-color: rgba(160, 160, 170);
    color: white;
    margin: 0;
    padding: 0;
    font: caption;
}

h2, p, h3 {
    margin: 0;
}

button, input {
    border: 0;
}

button, #phase_display_bar {
    cursor: pointer;
}

button:hover {
    filter: brightness(80%);
}

img {
    width: min(3vw, 60px);
    height: min(3vw, 60px);
}

.res_attr {
    width: min(1.5vw, 30px);
    height: min(1.5vw, 30px);
    margin: 2px;
    cursor: help;
}

.game_layout {
    display: grid;
    grid-template-columns: 18% 2% 60% 2% 18%;
    text-align: center;
    overflow: hidden;
}

.game_layout_col {
    height: 100vh;
    display: grid;
}

.game_layout_col > * {
    margin: 7px;
    padding: 5px;
    background: #555;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.button_col {
    font-size: 2vw;
    margin: 7px 0;
}

.button_col_notif {
    font-size: 2vw;
    margin: 7px 0;    
    background-color: #ffa600;
}

#col_1 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

#button_col_left {
    grid-column: 2;
}

#col_2 {
    grid-column: 3;
    grid-template-rows: 19% 64% 17%;
}

#button_col_right {
    grid-column: 4;
}

#col_3 {
    grid-column: 5;
    grid-template-rows: 100%;
}

#info_cell {
    overflow-y: auto;
    flex: 0 1 auto; /* Take minimum space */
    flex-shrink: 0; /* Do not shrink in space */
}

#info_cell > div, .display_recipe > div {
    padding: 5px 0;
    margin: auto 10px;
    border-top: 3px solid gray;
}

#info_cell > div > * {
    margin: auto 5px;
}

#info_cell > div > h3 {
    margin: 5px auto;
    padding: 5px 0;
    width: 100%;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

#resources_cell {
    grid-row: 1;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

#resources_cell > *:not(:last-child) {
    border-right: 3px solid gray;
    padding-right: 5px;
    margin-right: 5px;
}

.category_name {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bold;
}

.resources_display {
    display: flex;
    grid-gap: 15px;
    justify-content: center;
    overflow: auto;
    padding-bottom: 10px;
}

.resource_display {
    display: block;
}

.recipe_res_display {
    display: block;
}

.recipe_res_display > * {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.resource_display > p {
    font-size: 1.5em;
    margin: auto;
}

.resources_display_trades {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    grid-gap: 25px;
    margin: 10px 20px 50px 20px;
}

.resources_cat_trades {
    display: flex;
    grid-gap: 25px;
}

.resources_cat_trades:not(:last-child) {
    border-right: 3px solid gray;
    padding-right: 25px;
}

#recipes_cell {
    grid-row: 3;
    overflow-y: auto;
}

#recipes {
    display: flex;
}

#recipes > * {
    margin: 5px;
}

#chat_cell {
    background: #aaa;
    color: black;
    overflow-y: auto;
    flex: 1 1 auto; /* Take all remaining space */
    z-index: 101;   /* Chat is in front of everything else */
}

#chat_messages > p {
    margin: 10px;
    text-align: left;
}

.text_list {
    white-space: pre-line;
    text-align: left;
    padding: 50px;
}

#terrains_cell {
    grid-row: 2;
    padding: 0;
    background-color: rgb(0, 88, 0);
}   

#trades_cell {
    overflow: auto;
}

.trades_legend {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 5px;
}

.trades_legend > p {
    text-align: left;
    margin: auto 0;
}

#trades_cell > *:not(:last-child) {
    border-bottom: 3px solid gray;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.trade_display {
    width: 100%;
    text-align: left;
}

.trade_display > button {
    padding: 5px;
    margin: 5px;
}

.trade_display > p {
    display: inline-block;
}

#popup_content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #555;
    box-shadow: 0 0 100px black;
    padding: 10px;
    min-width: 30vw;
    text-align: center;
    z-index: 100;  /* In front of other elements except chat */
}

#popup_content > button {
    margin: 10px auto;
    display: block;
}

#popup_content > h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#popup_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;  /* Behind popup_content */
}

.recipe_hover {
    display: none;
}

[id ^= recipe_]:hover + .recipe_hover {
    display: block;
    position: absolute;
    min-width: 30vw;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    background: #555;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
    z-index: 100;
}

[id ^= recipe_] > button {
    width: 100%;
}

#button_close {
    position: absolute;
    right: 1vw;
    top: 1vw;
    float: right;
    width: min(2vw, 60px);
    height: min(2vw, 60px);
}

.res_qt {
    margin: 5px;
    width: 20px;
    text-align: center;
}

.dark_button {
    background-color: gray;
}

#button_new_trade {
    padding: 10px;
}

.trade_unseen {
    border: 5px solid #ffa600;
    font-weight: bold;
}

.trade_seen {
    border: 5px solid white;
}

.trade_ready {
    border: 5px solid rgb(65, 165, 45);
}

.trade_text {
    font-size: 0.8em;
}

.darken {
    filter: brightness(40%);
}

/* Progress bar */
.progress_bar {
    margin: 5px;
    height: 25px;
    background-color: black;
}

.progress_bar_fill {
    background-color: white;
    height: 100%;
    width: 0;
    transition: width 1s ease;
}

.progress_bar_text {
    position: inherit;
    font-size: 12px;
    transform: translateY(-20px);
    font-weight: bold;
    color: #fff;
    /* text outline */
    text-shadow:
        1px 1px 2px #000,
        -1px 1px 2px #000,
        -1px -1px 2px #000,
        1px -1px 2px #000;
}

.housing {
    margin: 0;
    height: 26px;
}

.housing_text {
    font-size: 1em;
    transform: translateY(-22px);
    cursor: help;
}

.visu_div {
    display: flex;
    justify-content: center;
    margin: 0;
}

.visu_grid {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.visu_line > button {
    margin: 5px;
}

.visu_line > p {
    display: inline-block;
}

.visu_render {
    width: min(50vw, 1000px);
    height: auto;
}

.trade_name_and_status {
    margin: auto 30px;
    width: 5vw;
}

.trade_name_and_status > img {
    width: min(2vw, 60px);
    height: min(2vw, 60px);
}

.trade_name_and_status > p {
    font-size: 1.3em;
    font-weight: bold;
}

.resources_road {
    display: flex;
    flex-direction: column;
}

.resources_road > * {
    margin: auto;
}

.transfo {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
}

.res_qt_modifier {
    display: flex;
}

.res_qt_modifier > button {
    margin: 5px auto;
}

.ration_display, .resources {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ration_display > p {
    font-size: 2em;
    margin: 10px;
}

.ration_display > div > img {
    width: min(2vw, 40px);
    height: min(2vw, 40px);
}

.housing_button, .convert_button {
    display: block;
}

.convert_button {
    margin-top: min(1.5vw + 6px, 38px);
}

.help_cursor {
    cursor: help;
}

.hide {
    display: none;
}